@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Nunito+Sans&display=swap");
/* General Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  border: 1px solid grey;
}
body{
    background-color: lemonchiffon;
}
h6{
    font-size: 2rem;
}
  nav a:hover {
    color: #afeeee;
  }
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    justify-content: space-evenly;
}
.links{
    display: flex;
    flex-direction: row-reverse;
    
}
h1, h3{
    text-align: center;
    font-size: 4rem;
}
.Front h1{
    margin-top: 10%;
}
.Front h3{
    margin-bottom: 10%;
    font-size: 3rem;
}
h4{
    text-align: justify;
}
#images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Front{
    display: flex;
    flex-direction: column;
}